<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.weily.dao.RolePermissionDao">

    <resultMap id="BaseResultMap" type="com.website.weily.entity.RolePermission">
        <id column="id" property="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <!--创建时间戳和修改时间戳在正式建表后添加 -->
        <result column="permission_id" property="permissionId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="description" property="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <association property="permission" column="permission_id"
                     javaType="com.website.weily.entity.Permission"
                     select="com.website.weily.dao.PermissionDao.getById"></association>
    </resultMap>

    <select id="getByRoleId" parameterType="long" resultMap="BaseResultMap">
        select *
        from role_permission
        where role_id = #{roleId}
    </select>

</mapper>